<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<mvc:default-servlet-handler/>
	<mvc:annotation-driven/>
	
	<context:component-scan base-package="main"/>
	<context:component-scan base-package="member"/>
	<context:component-scan base-package="board"/>
	<context:component-scan base-package="scrap"/>
	<context:component-scan base-package="streaming"/>
	<context:component-scan base-package="location"/>
	
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" id="beanNameViewResolver" p:order="1"/>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" id="tilesViewResolver" p:order="2"/>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer" id="tilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/wild-tiles-config.xml</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
	id="internalResourceViewResolver" p:order="9" p:prefix="/WEB-INF/view/" p:suffix=".jsp"/>
	
	<bean class="org.apache.tomcat.jdbc.pool.DataSource" id="ds">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@121.134.125.131:1521:xe"/>
        <property name="username" value="soul"/>
        <property name="password" value="oracle"/>
	</bean>
	
	
	<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"></bean>
	
	<bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations">
			<list>
				<value>/WEB-INF/mappers/member-mapper.xml</value>
				<value>/WEB-INF/mappers/qna-mapper.xml</value>
				<value>/WEB-INF/mappers/review-mapper.xml</value>				
				<value>/WEB-INF/mappers/mp3-mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="javaMailSender" >
		<property name="host" value="smtp.gmail.com"/>
		<property name="port" value="587"/>
		<property name="username" value="webappmgr"/>
		<property name="password" value="~1q2w3e4r"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">5000</prop>
			</props>
		</property>
	</bean> 
	
</beans>